:root {
  --color-1: #f7374f;
  --color-2: #88304e;
  --color-3: #522546;
  --color-4: #2c2c2c;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
